<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Simple Todolist</title>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="style.css" >
</head>
<body>
	<div id="app">
		<h1 class="heading">Simple Todolist</h1>
		<input class="new-todo" type="text" placeholder="Enter new todo....." @keyup.enter='addTodo'>
		<ul>
			<li v-for='todo in todos' :key='todo.id'>
				<input @change='toggle(todo)' :checked='todo.done' class="check" type="checkbox">
				<del v-if='todo.done' class="text">{{ todo.text }}</del>
				<span v-else class="text">{{ todo.text }}</span>
				<button class="delete" @click='deleteTodo(todo.id)'>Del</button>
			</li>
		</ul>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/uniqid@5.2.0/index.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>
	<script src="main.js"></script>
</body>
</html>