* {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

body {
	display: flex;
	justify-content: center;
}

.heading {
	font-size: 45px;
	margin: 20px 0;
}

.new-todo {
	box-sizing: border-box;
	height: 40px;
	width: 550px;
	font-size: 25px;
	padding-left: 14px;
	border: 1px solid #dedede;
}
.new-todo:focus {
	outline: 1px solid #4eb983;
	box-shadow: inset 0 0 3px #4eb983;
	color: #4eb983
}

ul {
	list-style: none;
	margin-top: 20px;
	padding: 0;
	font-size: 25px;
}

li {
	display: flex;
	align-items: center;
	height: 50px;
	justify-content: space-between;
}

.text {
	flex: 1;
	height: 40px;
	margin-right: 14px;
	line-height: 40px;
}
.text:focus {
	outline: 1px solid #4eb983;
	box-shadow: inset 0 0 3px #4eb983;
	color: #4eb983
}

.check {
	cursor: pointer;
	margin-right: 10px;
}
.delete {
	background: #fff;
	border: 1px solid #4eb983;
	border-radius: 2px;
	font-size: 22px;
	cursor: pointer;
	color: #4eb983;
	transition: 0.6s;
	outline: none;
	height: 40px;
}

.delete:hover {
	color: #fff;
	background: #4eb983;
}

.check {
	zoom: 1.8;
}

del {
	color: #4eb983;
}
